<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel</title>
    <!-- Enlaces a Bootstrap CSS y otros recursos aquí -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Agrega tus estilos personalizados aquí si es necesario -->
</head>
<body>
    <header class="bg-dark text-white text-center py-4">
        <h1 class="display-4">Admin Panel</h1>
    </header>
    <main class="container mt-4">
        <section>
            <h2 class="mb-4">Opciones:</h2>
            <ul class="list-group">
                <li class="list-group-item"><a class="btn btn-primary btn-block" href="/admin-comics">Administrar Comics</a></li>
                <li class="list-group-item"><a class="btn btn-success btn-block" href="/admin-users">Administrar Usuarios</a></li>
                <li class="list-group-item"><a class="btn btn-info btn-block" href="/config">Configuracion</a></li>
            </ul>
        </section>
    </main>
    <!-- Agrega tus scripts y enlaces a Bootstrap JS aquí si es necesario -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>